.version.index /* version checker */
{
	color: #0000F3;
	background-color: #9153D5;
}

.html
{
	background-color: #304F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2373px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 6px;
	width: 0.01px;
}

#u121
{
	z-index: 2;
	min-height: 56px;
	background-color: #182840;
}

#menuu122
{
	z-index: 3;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: #4877BF;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u131
{
	width: 228px;
	background-color: #182840;
	padding-bottom: 20px;
	position: relative;
}

#u131:hover
{
	background-color: #4877BF;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u131:active
{
	background-color: #6B6B6B;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u153
{
	width: 228px;
	background-color: #182840;
	padding-bottom: 20px;
	position: relative;
}

#u153:hover
{
	background-color: #4877BF;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u153:active
{
	background-color: #6B6B6B;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u131.MuseMenuActive,#u153.MuseMenuActive
{
	background-color: #999999;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u134-4_clip,#u155-4_clip
{
	overflow: hidden;
	width: 228px;
	height: 36px;
	vertical-align: top;
}

#u160
{
	width: 229px;
	background-color: #182840;
	padding-bottom: 20px;
	position: relative;
}

#u160:hover
{
	background-color: #4877BF;
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u160:active
{
	background-color: #6B6B6B;
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u167
{
	width: 229px;
	background-color: #182840;
	padding-bottom: 20px;
	position: relative;
}

#u167:hover
{
	background-color: #4877BF;
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u167:active
{
	background-color: #6B6B6B;
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u160.MuseMenuActive,#u167.MuseMenuActive
{
	background-color: #999999;
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u134-4,#u155-4,#u163-4,#u168-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u163-4_clip,#u168-4_clip
{
	overflow: hidden;
	width: 229px;
	height: 36px;
	vertical-align: top;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u121-bw
{
	z-index: 2;
	min-height: 56px;
}

#u174
{
	z-index: 28;
	min-height: 336px;
	padding-bottom: 108px;
	background: #578EE5 url("../images/bg2.jpg") no-repeat left top;
	background-size: cover;
}

#u181
{
	z-index: 29;
	width: 677px;
	background-color: #5681C4;
	background-color: rgba(72,119,191,0.92);
	border-radius: 100px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 242px;
	-pie-background: rgba(72,119,191,0.92);
}

#u182-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 190px;
}

#u174-bw
{
	z-index: 28;
	min-height: 336px;
}

#u226
{
	z-index: 51;
	width: 238px;
	height: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: 277px;
	background: transparent url("../images/logo_3_fire.png") no-repeat left top;
	background-size: contain;
}

#u183
{
	z-index: 34;
	height: 56px;
	background-color: #182840;
}

#u183-bw
{
	z-index: 34;
	height: 56px;
}

#pu185
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 38px;
}

#u185
{
	z-index: 35;
	min-height: 539.8499999999999px;
	background-color: #304F7F;
	padding-bottom: 0px;
}

#u185_position_content
{
	margin-top: -6px;
	padding-bottom: 206px;
}

#u186-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	left: 461px;
	position: relative;
}

#u187-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	left: 165px;
	margin-top: 17px;
	position: relative;
}

#u185-bw
{
	z-index: 35;
	min-height: 539.8499999999999px;
}

#u210
{
	z-index: 44;
	height: 493px;
	background: transparent url("../images/img_20150328_143547.jpg") no-repeat center center;
	background-size: cover;
}

#u210-bw
{
	z-index: 44;
	margin-top: 502px;
	height: 493px;
}

#u223
{
	z-index: 45;
	height: 56px;
	background-color: #182840;
}

#u223-bw
{
	z-index: 45;
	margin-top: 939px;
	height: 56px;
}

#u188
{
	z-index: 55;
	height: 56px;
	background-color: #182840;
}

#u188-bw
{
	z-index: 55;
	margin-top: 502px;
	height: 56px;
}

#pu174,#pu224
{
	width: 0.01px;
	margin-left: -100px;
}

#u224
{
	z-index: 46;
	min-height: 400px;
	background-color: #578EE5;
	padding-bottom: 66px;
}

#u121_align_to_page,#u174_align_to_page,#u185_align_to_page,#u224_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu233
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 109px;
	margin-left: 157px;
}

#u233
{
	z-index: 52;
	width: 128px;
	height: 125px;
	border-radius: 50px;
	margin-left: 35px;
	position: relative;
	background: transparent url("../images/iconandroid.jpg") no-repeat left top;
	background-size: cover;
}

#u266-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
}

#pu225-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 466px;
}

#u225-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
}

#u240
{
	z-index: 53;
	width: 128px;
	height: 125px;
	border-radius: 50px;
	margin-left: 43px;
	margin-top: 14px;
	position: relative;
	background: transparent url("../images/iconandroid2.jpg") no-repeat left top;
	background-size: cover;
}

#u268-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-left: 16px;
	margin-top: 23px;
	position: relative;
}

#pu241
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 118px;
	margin-left: 786px;
}

#u241
{
	z-index: 54;
	width: 128px;
	height: 125px;
	border-radius: 50px;
	margin-left: 34px;
	position: relative;
	background: transparent url("../images/icon-commander-comet.jpg") no-repeat left top;
	background-size: cover;
}

#u269-7
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u224-bw
{
	z-index: 46;
	min-height: 400px;
}

#u301
{
	z-index: 78;
	width: 239px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 166px;
	background: transparent url("../images/app_store_apple.svg") no-repeat left top;
	background-size: contain;
}

#u308
{
	z-index: 79;
	width: 239px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 470px;
	background: transparent url("../images/app_store_apple.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #u301,.nosvg #u308
{
	background-image: url('../images/app_store_apple_poster_u302.png');
}

#u309
{
	z-index: 80;
	width: 239px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 166px;
	background: transparent url("../images/en_generic_rgb_wo_60.png") no-repeat left top;
	background-size: contain;
}

#u315
{
	z-index: 81;
	width: 239px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 470px;
	background: transparent url("../images/en_generic_rgb_wo_60.png") no-repeat left top;
	background-size: contain;
}

#u271
{
	z-index: 71;
	height: 56px;
	background-color: #182840;
}

#u271-bw
{
	z-index: 71;
	height: 56px;
}

#u273
{
	z-index: 72;
	min-height: 409px;
	padding-bottom: 19px;
	background: transparent url("../images/blue-earth-wallpaper.jpg") no-repeat center center;
	background-size: cover;
}

#u273_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u280
{
	z-index: 73;
	width: 512px;
	background-color: #182840;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 260px;
	padding: 19px 64px 33.34999999999991px 51px;
}

#u299-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	margin-left: 133px;
	position: relative;
}

#u345-14
{
	z-index: 107;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 36px;
	position: relative;
}

#u273-bw
{
	z-index: 72;
	min-height: 409px;
	margin-top: -1px;
}

#menuu316
{
	z-index: 82;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: #4877BF;
	margin-left: 20px;
	position: relative;
}

#u130,#u331
{
	width: 228px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u332
{
	width: 228px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u150,#u338
{
	width: 228px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u339
{
	width: 228px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u332.MuseMenuActive,#u339.MuseMenuActive
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u334-4_clip,#u340-4_clip
{
	overflow: hidden;
	width: 228px;
	height: 20px;
	vertical-align: top;
}

#u157,#u324
{
	width: 229px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u325
{
	width: 229px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u164,#u317
{
	width: 229px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u318
{
	width: 229px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u325.MuseMenuActive,#u318.MuseMenuActive
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u334-4,#u340-4,#u326-4,#u321-4
{
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u326-4_clip,#u321-4_clip
{
	overflow: hidden;
	width: 229px;
	height: 20px;
	vertical-align: top;
}

#u134-4_img,#u155-4_img,#u163-4_img,#u168-4_img,#u334-4_img,#u340-4_img,#u326-4_img,#u321-4_img
{
	display: block;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

