@font-face {
  font-family: bold_font;
  src: url('theboldfont.ttf');
}
@font-face {
  font-family:LUZRO;
  src: url('LUZRO.TTF');
}
body{
  text-align: center;
  background: #000000;
  font-family: LUZRO;
  font-weight: 100;
  margin-top:5%;

}

h1{
  color: #FFF;
  font-weight: 100;
  font-size: 62px;
  margin: 40px 0px 20p;
}

#clockdiv{
    font-family: LUZRO;
    color: #FFD700;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 60px;
    vertical-align: middle;
}

#clockdiv > div{
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    display: inline-block;
}

.smalltext{
    display:inline-block;
    color: #FFF;
}

.sig {
  position: absolute;
  bottom:30px;
  right:30px;
  width: 25%;
}
.sig h2, img{
  color: white;
  right:10px;
  bottom:10px;
  font-size: 40px;
}

.au{
  width: 25%;
  color: white;
  position: absolute;
  bottom: 30px;
  left:70px;
  text-align: center;
  font-family: LUZRO;
  line-height: 65px;
}

.au h2{
  font-size: 84px;
}
.au h2 i{
  font-size: 49px;
}