.version.index /* version checker */
{
	color: #000007;
	background-color: #D580F0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 71px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 499px;
}

#u396
{
	z-index: 2;
	height: 71px;
	background-color: #304F7F;
}

#u396-bw
{
	z-index: 2;
	height: 71px;
}

#menuu397
{
	z-index: 3;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u405
{
	width: 93px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u406
{
	width: 93px;
	background-color: #C4C4C4;
	padding-bottom: 54px;
	position: relative;
}

#u406:hover
{
	background-color: #999999;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u406:active
{
	background-color: #6B6B6B;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u409-4
{
	width: 93px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 27px;
}

#u406:hover #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u406:active #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u412
{
	width: 93px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u415
{
	width: 93px;
	background-color: #C4C4C4;
	padding-bottom: 54px;
	position: relative;
}

#u406.MuseMenuActive,#u415:hover
{
	background-color: #999999;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u415:active
{
	background-color: #6B6B6B;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u415.MuseMenuActive
{
	background-color: #999999;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u417-4
{
	width: 93px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 27px;
}

#u406.MuseMenuActive #u409-4,#u415:hover #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u415:active #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u415.MuseMenuActive #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u419
{
	width: 94px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u420
{
	width: 94px;
	background-color: #C4C4C4;
	padding-bottom: 54px;
	position: relative;
}

#u420:hover
{
	background-color: #999999;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u420:active
{
	background-color: #6B6B6B;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u422-4
{
	width: 94px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 27px;
}

#u420:hover #u422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u420:active #u422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u426
{
	width: 94px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u427
{
	width: 94px;
	background-color: #C4C4C4;
	padding-bottom: 54px;
	position: relative;
}

#u420.MuseMenuActive,#u427:hover
{
	background-color: #999999;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u427:active
{
	background-color: #6B6B6B;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u427.MuseMenuActive
{
	background-color: #999999;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u429-4
{
	width: 94px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 27px;
}

#u420.MuseMenuActive #u422-4,#u427:hover #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u427:active #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u427.MuseMenuActive #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu397-bw
{
	z-index: 3;
	min-height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

