.version.index /* version checker */
{
	color: #0000E3;
	background-color: #844471;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #304F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 953.5000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6.499999999999773px;
}

#u396
{
	z-index: 2;
	height: 71px;
	background-color: #304F7F;
}

#u396-bw
{
	z-index: 2;
	height: 71px;
}

#menuu397
{
	z-index: 3;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u405
{
	width: 93px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u406
{
	width: 93px;
	background-color: #182840;
	padding-bottom: 49px;
	position: relative;
}

#u406:hover
{
	background-color: #999999;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u406:active
{
	background-color: #6B6B6B;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u412
{
	width: 93px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u415
{
	width: 93px;
	background-color: #182840;
	padding-bottom: 49px;
	position: relative;
}

#u406.MuseMenuActive,#u415:hover
{
	background-color: #999999;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u415:active
{
	background-color: #6B6B6B;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u415.MuseMenuActive
{
	background-color: #999999;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u409-4_clip,#u417-4_clip
{
	overflow: hidden;
	width: 93px;
	height: 22px;
	vertical-align: top;
}

#u419
{
	width: 94px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u420
{
	width: 94px;
	background-color: #182840;
	padding-bottom: 49px;
	position: relative;
}

#u420:hover
{
	background-color: #999999;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u420:active
{
	background-color: #6B6B6B;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u426
{
	width: 94px;
	min-height: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u427
{
	width: 94px;
	background-color: #182840;
	padding-bottom: 49px;
	position: relative;
}

#u420.MuseMenuActive,#u427:hover
{
	background-color: #999999;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u427:active
{
	background-color: #6B6B6B;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u427.MuseMenuActive
{
	background-color: #999999;
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u409-4,#u417-4,#u422-4,#u429-4
{
	position: relative;
	margin-right: -10000px;
	top: 24px;
}

#u422-4_clip,#u429-4_clip
{
	overflow: hidden;
	width: 94px;
	height: 22px;
	vertical-align: top;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu397-bw
{
	z-index: 3;
	min-height: 71px;
}

#u433
{
	z-index: 28;
	min-height: 124px;
	padding-bottom: 50px;
	background: transparent url("../../images/bg2.jpg") no-repeat left top;
}

#u434
{
	z-index: 29;
	width: 328px;
	background-color: #5681C4;
	background-color: rgba(72,119,191,0.92);
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 29px;
	-pie-background: rgba(72,119,191,0.92);
}

#u435-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-bottom: -36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 97px;
}

#u433-bw
{
	z-index: 28;
	min-height: 124px;
}

#u436
{
	z-index: 34;
	width: 102px;
	height: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 52px;
	background: transparent url("../../images/logo_3_fire-u436-fr.png") no-repeat left top;
	background-size: contain;
}

#u437
{
	z-index: 35;
	height: 28px;
	background-color: #182840;
}

#u437-bw
{
	z-index: 35;
	height: 28px;
}

#pu440-4
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 12px;
}

#u440-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u441-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#u442
{
	z-index: 44;
	height: 28px;
	background-color: #182840;
}

#u442-bw
{
	z-index: 44;
	margin-top: 13px;
	height: 28px;
}

#u443
{
	z-index: 45;
	height: 150px;
	background: transparent url("../../images/img_20150328_143547.jpg") no-repeat center center;
	background-size: cover;
}

#u443-bw
{
	z-index: 45;
	margin-top: -4px;
	margin-bottom: -4px;
	height: 150px;
}

#u444
{
	z-index: 46;
	height: 28px;
	background-color: #182840;
}

#u444-bw
{
	z-index: 46;
	height: 28px;
}

#pu396,#pu433,#pu447
{
	width: 0.01px;
}

#u447
{
	z-index: 47;
	min-height: 301px;
	background-color: #578EE5;
}

#u447_position_content
{
	padding-top: 8px;
	padding-bottom: 18px;
}

#u445-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 76px;
	position: relative;
}

#pu462
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 21px;
	position: relative;
}

#u462
{
	z-index: 52;
	width: 75px;
	height: 73px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../../images/iconandroid-u462-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u463
{
	z-index: 53;
	width: 79px;
	height: 77px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
	background: transparent url("../../images/iconandroid-u463-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u464
{
	z-index: 54;
	width: 79px;
	height: 77px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
	background: transparent url("../../images/icon-commander-comet-u464-fr.jpg") no-repeat left top;
	background-size: cover;
}

#pu465-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 7px;
	position: relative;
}

#u465-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u467-7
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u447-bw
{
	z-index: 47;
	min-height: 301px;
}

#u466-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 136px;
}

#u468
{
	z-index: 70;
	width: 5px;
	height: 200px;
	background-color: #182840;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 132px;
}

#u469
{
	z-index: 71;
	width: 5px;
	height: 200px;
	background-color: #182840;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 258px;
}

#u470
{
	z-index: 72;
	width: 144px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 138px;
	background: transparent url("../../images/app_store_apple.svg") no-repeat left top;
	background-size: contain;
}

#u471
{
	z-index: 73;
	width: 146px;
	height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 138px;
	background: transparent url("../../images/en_generic_rgb_wo_60-u471-fr.png") no-repeat left top;
	background-size: contain;
}

#u472
{
	z-index: 74;
	width: 153px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 4px;
	background: transparent url("../../images/app_store_apple.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #u470,.nosvg #u472
{
	background-image: url('../../images/app_store_apple_poster_u302.png');
}

#u473
{
	z-index: 75;
	width: 155px;
	height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 4px;
	background: transparent url("../../images/en_generic_rgb_wo_60-u473-fr.png") no-repeat left top;
	background-size: contain;
}

#u475
{
	z-index: 77;
	height: 28px;
	background-color: #182840;
}

#u475-bw
{
	z-index: 77;
	margin-top: 282px;
	height: 28px;
}

#u474
{
	z-index: 76;
	min-height: 230px;
	padding-bottom: 21px;
	background: transparent url("../../images/blue-earth-wallpaper.jpg") no-repeat center center;
	background-size: cover;
}

#u476
{
	z-index: 78;
	width: 338px;
	background-color: #182840;
	border-radius: 50px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 21px;
}

#u476_position_content
{
	padding-top: 16px;
}

#u477-4
{
	z-index: 79;
	display: block;
	vertical-align: top;
	margin-left: 28px;
	position: relative;
}

#u478-14
{
	z-index: 83;
	display: block;
	vertical-align: top;
	margin-left: 25px;
	margin-top: 5px;
	position: relative;
}

#u474-bw
{
	z-index: 76;
	min-height: 230px;
}

#menuu479
{
	z-index: 97;
	min-height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #4877BF;
}

#u480
{
	width: 93px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u481
{
	width: 93px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u487
{
	width: 93px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u488
{
	width: 93px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u481.MuseMenuActive,#u488.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u484-4_clip,#u491-4_clip
{
	overflow: hidden;
	width: 93px;
	height: 20px;
	vertical-align: top;
}

#u501
{
	width: 94px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u504
{
	width: 94px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u494
{
	width: 94px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u495
{
	width: 94px;
	background-color: #304F7F;
	padding-bottom: 36px;
	position: relative;
}

#u504.MuseMenuActive,#u495.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u484-4,#u491-4,#u507-4,#u498-4
{
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u507-4_clip,#u498-4_clip
{
	overflow: hidden;
	width: 94px;
	height: 20px;
	vertical-align: top;
}

#u409-4_img,#u417-4_img,#u422-4_img,#u429-4_img,#u484-4_img,#u491-4_img,#u507-4_img,#u498-4_img
{
	display: block;
}

#menuu479-bw
{
	z-index: 97;
	min-height: 56px;
	margin-top: 9px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

